.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.line{
    width: 95%;
    height: 1px;
    background-color: #E0E0E0;
}
.logoImage{
    padding: 1rem;
}
.title{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 30px;
    
}
.cardsGrid{
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
}
.card{
    display: flex;
    flex-direction: column;
    align-items: left;
    
}
.card h2{
    font-family: 'Poppins';
    font-weight: regular;
    font-size: 20px;
}
.card h3{
    font-family: 'Poppins';
    font-weight: medium;
    font-size: 16px;
    color: #489DFF;
}
.card button{
    width: 131px;
    height: 48px;
    background-color: #489DFF;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 15px;
}
.footer{
    text-align: center;
    padding: 2rem;
}
.footer p{
    font-family: 'Poppins';
    font-size: 12px;
    color: #525F7F;
}
.SMicons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
